html, body {
    height: 100vh;
    margin: 0;
}

* {
  box-sizing: border-box;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.columns{
    display: flex;
    height: 50%;
}

section {
    padding: 50px;
    font-size: 20px;
}

section.about {
    width: 50%;
    background-color: rgb(255, 255, 255);
}



section.experiences {
    width: 50%;
    background-color: rgb(255, 163, 209);
}

section.why {
    height: 50%;
    width: 100%;
    background-color: rgb(183, 221, 255);
}

h1.top {
    margin: 0px;
}

h1.bottom {
    margin: 0px;
}